@page "/"

@using RandomPicture

<PageTitle>TO-DO</PageTitle>

<h1>TO-DO</h1>
<img src="/RandomPicture/pic.jpg" width="300"/>
<div style="display: flex; margin-top: 10px; gap: 5px;">
  <input type="text" />
  <button>Add To-Do</button>
</div>
<div style="margin-top: 10px;">
  <ul>
    <li>Learn ASPNet</li>
    <li>Learn Blazor</li>
    <li>Learn Kubernetes</li>
  </ul>
</div>
