@page "/"

@using RandomPicture
@using TodoService

@inject TodoClient _todoClient
@inject NavigationManager _navManager

<PageTitle>TO-DO</PageTitle>

<h1>TO-DO</h1>
<img src="/RandomPicture/pic.jpg" width="300" />
<EditForm Model="@NewTodo" OnSubmit="SubmitTodo" FormName="todo" method="post">
  <div style="display: flex; margin-top: 10px; gap: 5px;">
    <InputText @bind-Value="@NewTodo.Name" />
    <button type="submit">Add To-Do</button>
  </div>
</EditForm>
<div style="margin-top: 10px;">
  <ul>
    <li>Learn ASPNet</li>
    <li>Learn Blazor</li>
    <li>Learn Kubernetes</li>
    @foreach (var todo in _todos)
    {
      <li>@todo.Name</li>
    }
  </ul>
</div>

@code {
  List<TodoModel> _todos = new();

  [SupplyParameterFromForm]
  public TodoModel NewTodo { get; set; } = new();

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    _todos = await _todoClient.GetTodos();
  }

  private async Task SubmitTodo()
  {
    await _todoClient.PostTodo(NewTodo);
    _navManager.NavigateTo(_navManager.Uri, true);
  }
}
